body {
  font-size: 14px;
}

.ny-app__header {
  height: 4rem;
}

.ny-app__header__title {
  text-align: center;
  width: 100%;
  display: inline-block;
  color: white;
}

.ny-app__content {
  min-height: calc(100vh - 4rem);
  flex-direction: column;
  display: flex;
}

.ny-app__content > div {
  flex: 1;
}

.ny-app_card {
  padding: 0.5rem;
}
