:root {
  --primary-color: #1b89f0;
}

body {
  font-size: 15px;
}

.ny-app__header {
  background-color: var(--primary-color);
  color: white;
  height: 4rem;
}
.ny-app__content {
  min-height: calc(100vh - 4rem);
}

.ny-app_card {
  padding: 8px;
}
